div {
    display: grid;
} 

title {
    display: none;
}

#logo {
    display: flex;
    justify-content: center;
    justify-items: center;
}

nav {
    display: grid;
    justify-content: center;
    gap: 10px;
}

#row1 {
    grid-column: auto;
    outline: 2px red;
}

#row2 {
    grid-column: 3;
    outline: 2px red;
}