/* div {
    display: grid;
}  */

/* COLORS: 
YELLOW: #F4CE14;
GREEN: #495E56
*/

title {
    display: none;
}

h1 {
    padding: 15px;
    text-align: center;
}

p {
    padding: 15px;
    text-align: center;
}

#logo {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#navGrid {
    display: grid;
    grid: 40px / repeat(4, 10vh);
    justify-content: center;
    gap: 10px;
    text-align: center;
}

#bodyGrid {
    justify-items: center;
}

#row1 {
    display: block;
    background-image: url(media/halloweenSpider.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    border-radius: 25%;
}

#row1 h1 {
    color: #495E56;
    font-size: 3em;
}

#row1 p {
    color: #495E56;
}

#row2 {
    padding-top: 8px;
    display: grid;
    grid: auto / 33vh 33vh 33vh;
    justify-content: center;
    gap: 7vh;
}

#menu {
    background-image: url(media/yellowLemon.png);
    background-size: cover;
    background-position: center;
    height: 30vh;
    opacity: 80%;
}

#book {
    background-image: url(media/greenLemon.png);
    background-size: cover;
    background-position: center;
    height: 30vh;
    opacity: 90%;
}

#hours {
    background-image: url(media/yellowLemon.png);
    background-size: cover;
    background-position: center;
    height: 30vh;
    opacity: 80%;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 30px #F4CE14, 0 0 60px #F4CE14;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 80px #ff4da6;
    }
}

#footer {
    display: block;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#footer #copyright {
    font-size: 11px;
}

#logo2 {
    padding-top: 8px;
    text-align: center;
}

#copyright {
    padding-top: 0px;
}