/* div {
    display: grid;
}  */

title {
    display: none;
}

#logo {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#navGrid {
    display: grid;  
    grid: 100px / repeat(4,10vh);
    justify-content: center;
    gap: 10px;
    text-align: center;
}

#bodyGrid {
    display: grid;
    justify-items: center;
}

#row1 {
    grid-column: auto;
    outline: 2px red;   
}

#row2 {
    grid-column: 3;
    outline: 2px red;
}